@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

@layer utilities {
  .root-container {
    @apply max-w-6xl mx-auto w-full xl:px-0 lg:px-4 px-2;
  }
}
